<app-navbar *ngIf="navbarIsVisible" [userName]="complex_object.studentProfile.firstName"></app-navbar>

<div #jumbotron class="jumbotron">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


  <div class="row mb-2">
    <div class="col-6">
      <!-- Sort By: -->
      <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="dragOperation">
        <label ngbButtonLabel class="btn btn-danger">
          <input ngbButton type="radio" value="module"> Module
        </label>
        <label ngbButtonLabel class="btn btn-danger">
          <input ngbButton type="radio" value="session"> Session
        </label>
        <label ngbButtonLabel class="btn btn-danger">
          <input ngbButton type="radio" value="lesson"> Lesson
        </label>
      </div> -->
    </div>

    <div class="col-6">
      <button *ngIf="submitandreviewIsVisible" [disabled]="saveVisible(course?.modules)" (click)="saveEndExitClicked()" class="custom-btn-color btn btn-danger float-right mr-2">Save</button>

      <button *ngIf="submitandreviewIsVisible" [disabled]="!isSubmitTrue" (click)="submitForReviewdClicked()" class="custom-btn-color btn btn-danger float-right mr-2">Submit For Review</button>
    </div>


  </div>
  <div class="row course">

    <div class="card course_card">
      <div class="card-header">
        <span (click)="open('Course',course,content,null,null,null)">
          {{course?.name}} </span>
        <i ngbPopover="{{course?.description}}" triggers="mouseenter:mouseleave" class="fa fa-info-circle" aria-hidden="true"></i>
        <button (click)="addModuleComponent(course,content)" type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2">
          <i class="fas fa-plus-circle"></i> Modules</button>
        <button type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <i class="fas fa-comments"></i> Comments</button>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card custom-chat">
            <div class="card-body m-2">



              <div class="social-comments_list custom-scroll-holder" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <h6>Issuse List </h6>
                <div class="social-comment  p-1 mb-1" *ngFor="let issue of issuesList; index as i">
                  <a href="" class="pull-left">
                    <img style=" width: 25px;height: 25px;" alt="image" src="{{issue.imageURL}}">
                  </a>
                  <div class="media-body">
                    <b>
                      {{issue.name}} :
                    </b>
                    <p class='m-0'> {{issue.comment}} </p>

                    <p class="text-right m-0">
                      <small class="text-muted">{{issue.date | date: 'dd/MM/yyyy hh:mm'}}</small>
                    </p>
                  </div>
                </div>
                <div *ngIf="issuesList == null || issuesList.length == 0">
                  <div class="social-comment  p-1 mb-1">
                    No Issue Present.
                  </div>

                </div>

              </div>

              <div class="media-body custom-media-body">
                <textarea [(ngModel)]="commentValue" (keydown)="keyDownFunction($event)" class="form-control" placeholder="Write comment..."></textarea>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="card-body" style="min-height: 50vh;">


        <div *ngIf="course?.modules != undefined && course?.modules.length > 0; else moduleElseBlock" class="row modules m-0 row-eq-height"
          dnd-sortable-container [sortableData]="course?.modules" [dropZones]="['container-dropZone']">

          <div *ngFor="let module of course?.modules; index as j " dnd-sortable [sortableIndex]="j" [dragEnabled]="dragOperation == 'module'"
            class="col-3 p-0">
            <div dnd-sortable-container [sortableData]="course?.modules[j].sessions" [dropZones]="['widget-dropZone']">
              <div class="card module_card row-eq-height top-border-red" style="height: 80%;">
                <div class="card-header  p-0 pt-3 pb-3">
                  <div class="row m-0 row-eq-height">
                    <div (click)="dragOperationFunction('module')" class="col-2 text-center">
                      <i class="fas fa-exchange-alt"></i>
                    </div>
                    <div class="col-8 text-center custom-course-header module-font-fize" (click)="open('Module',module,content,j,null,null)">
                      {{module.name}}</div>
                    <div class="col-2 text-center">
                      <i (click)="removeModuleFunction(module)" class="fas fa-trash-alt" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="card-block custom-course-cardblock mx-auto p-0 pt-1">
                  <button (click)="addSessionComponent(module,content)" type="button" class="btn btn-outline-info course_body_buttons float-right mr-2">
                    <i class="fas fa-plus-circle"></i> Session</button>
                </div>
                <div *ngIf=" module.sessions != undefined && module.sessions.length > 0; else sessionElseBlock">
                  <div class="card m-3" *ngFor="let session of module.sessions; index as k " dnd-sortable [sortableIndex]="k" [dragEnabled]="dragOperation == 'session'"
                    [dragData]="course?.modules[j].sessions[k]">



                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class='custom-accordion w-100'>
                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class="card-header session-card-header px-0">

                            <div class="row m-0 row-eq-height px-2">
                              <div (click)="$event.stopPropagation();$event.preventDefault();dragOperationFunction('session')" class="col-1 text-center p-0">
                                <i class="fas fa-exchange-alt"></i>
                              </div>
                              <div class="col-9 text-center">
                                <span> {{session.name}}</span>
                              </div>
                              <div class="col-1 text-center p-0">
                                <i (click)="$event.stopPropagation();$event.preventDefault();open('Session',session,content,j,k,null)" class="far fa-edit"
                                  aria-hidden="true"></i>

                              </div>
                              <div class="col-1 text-center p-0">
                                <i (click)="$event.stopPropagation();$event.preventDefault();removeSessionsFunction(module,session)" class="fas fa-trash-alt"
                                  aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>

                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-block p-0">
                            <div class="row m-0 row-eq-height">
                              <!--  <div class="col-4">9</div>
                                                      <div class="col-4">{{session.progress}}</div> -->
                              <div class="col-8">
                                <button type="button" (click)="addLessonsComponent(module,session,content)" class="mt-2 mb-2 btn btn-outline-success  course_body_buttons float-right">
                                  <i class="fas fa-plus-circle"></i> Lesson</button>
                              </div>

                            </div>
                            <div class="row m-0 row-eq-height">
                              <b class="desc-heading-font-fize m-2"> Description: &nbsp;</b>
                              <p class="card-text custom-description m-2">{{session.description}}</p>
                            </div>
                            <div dnd-sortable-container [sortableData]="course?.modules[j].sessions[k].lessons" [dropZones]="['lesson-dropZone']">
                              <h5 class="text-center">Lessons</h5>
                              <div *ngIf=" session.lessons != undefined &&session.lessons.length > 0; else lessonElseBlock">
                                <div *ngFor="let lesson of session.lessons; index as l ">

                                  <div *ngIf="!lesson.isDeleted" class="card m-3" dnd-sortable [sortableIndex]="l" [dragEnabled]="dragOperation == 'lesson'"
                                    [dragData]="course?.modules[j].sessions[k].lessons[l]">
                                    <ngb-accordion #acc1="ngbAccordion" activeIds="ngb-panel-0" class='custom-accordion w-100'>
                                      <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                          <div class="card-header pl-0 pr-0 lesson-card-header">

                                            <div class="row m-0 row-eq-height px-2">
                                              <div (click)="$event.stopPropagation();$event.preventDefault();dragOperationFunction('lesson')" class="col-1 p-0">
                                                <i class="fas fa-exchange-alt"></i>
                                              </div>
                                              <div class="col-9 lesson-header-size" (click)="hideDescription(lesson)"> {{lesson.name}}</div>
                                              <div class="col-1 p-0 text-center">
                                                <i (click)="$event.stopPropagation();$event.preventDefault();open('Lesson',lesson,content,j,k,l)" class="far fa-edit" aria-hidden="true"></i>
                                              </div>
                                              <div class="col-1 p-0 text-center">
                                                <i (click)="$event.stopPropagation();$event.preventDefault();removeLessonsFunction(module,session,lesson)" class="fas fa-trash-alt"
                                                  aria-hidden="true"></i>
                                              </div>
                                            </div>

                                          </div>
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                          <div class="card-body m-3">
                                            <b class="desc-heading-font-fize">Description: &nbsp;</b>
                                            <p class="card-text custom-description">{{lesson.description}}</p>
                                          </div>
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <ng-template #lessonElseBlock>
                              <p class="text-center">No Lesson Present</p>
                            </ng-template>

                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
                <ng-template #sessionElseBlock>
                  <p class="text-center">No Session Present</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <ng-template #moduleElseBlock>
          <p class="text-center">No Module Present</p>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title m-auto">{{modalName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <form *ngIf=" type != 'Session';" enctype="multipart/form-data" class="dropzone course-modal m-auto" [dropzone]="config"
        (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
        <input #itemType type="hidden" name="item_type" [(ngModel)]="item_type">
      </form> -->
      <div class="row m-0 " *ngIf=" type != 'Session';">
        <div class="col-6">
          <div class="custom-input-button">
            <input type="file" (change)="fileChangeEvent($event)" accept=".png,.PNG" />
            <input #itemType type="hidden" name="item_type" [(ngModel)]="item_type">
          </div>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col-6">
          <div class="row m-0">
            <button class="btn btn-danger btn-sm mb-1" (click)="uploadImage()" *ngIf="croppedImage" [disabled]="disableUpload">Save Image</button>
            <div class="my-auto ml-3" *ngIf="disableUpload && croppedImage" style="color: green;">File Uploaded</div>
          </div>
          <img [src]="sanitize(croppedImage)" *ngIf="croppedImage" style="width: 80%; height: 80%;" />
        </div>
      </div>
      <label for="typeahead-format ">Name:</label>
      <input type="text " class="form-control" [(ngModel)]="title" />
      <label for="typeahead-format ">Description:</label>
      <textarea type="text " class="form-control" [(ngModel)]="desc"></textarea>
      <div *ngIf=" type == 'Lesson';">
        <label for="typeahead-format ">Lesson Type:</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectlessonType">
          <option value="PRESENTATION">PRESENTATION</option>
          <option value="ASSESSMENT">ASSESSMENT</option>
          <option value="PRESENTATION_INTERACTIVE">INTERACTIVE</option>
        </select>
      </div>
    </div>
    <div class="modal-footer ">
      <button type="button " class="btn btn-outline-dark " (click)="c( 'Close click') ">Close</button>
      <button type="button " [disabled]="!isValidForm()" data-dismiss="modal " class="btn btn-outline-dark " (click)="save(content)">Save</button>
    </div>
  </ng-template>

  <!-- <context-menu #myContextMenu>
    <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item [visible]="action.visible" [enabled]="action.enabled"
      (execute)="action.click($event.item)">
      {{ action.html(item) }}
    </ng-template>
  </context-menu> -->
</div>