.modules{
   overflow-x: auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
}
.course_card{
    width: 100% !important;
    
}

.course_header_buttons{
    border-radius: 27px;
     font-size: 12px;
}
.custom-course-header{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
     background-color:#ffffff !important;
}
.course_body_buttons{
     border-radius: 27px;
      font-size: 8px;
}

.custom-course-cardblock{
        flex: 0.1 !important;
}

.card-header{
    background-color:#ffffff !important;
}


.top-border-green {
border-top: 5px solid #7ed321 !important;
}

.top-border-blue {
border-top: 5px solid #35bdf0 !important;
}

.top-border-red {
border-top: 5px solid #df756a !important;
}

.lesson-header-size {
font-family: avenir-light;
font-size: 16px;
font-weight: 900;
letter-spacing: 0.2px;
text-align: left !important;
color: #2196f2;
}
.custom-description {
width: auto !important;
height: auto !important;
font-family: avenir-light;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.2px;
text-align: left;
color: #333333;
}
.module-font-fize{
    font-size: 14px;
}

.desc-heading-font-fize{
    font-size: 12px;
}
.custom-btn-color{
color: #fff !important;

}
