<div class="row m-3" [ngSwitch]="switchexpression">
  <ng-container *ngSwitchCase="'ONLY_TITLE_PARAGRAPH_NEW'">
    <div class="col-8">
      <div class="card">
        <div class="card-block">
          <div class="row ">
            <div class="col-5">
              <h6>Background Color</h6>
              <input [(colorPicker)]="color" [style.background]="color" [value]="color" (colorPickerChange)="cmykColor=onChangeColor($event);color=$event"
              />
            </div>
            <div class="col-5">
              <h6>Background Image</h6>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="onChangeImage($event)">
            </div>
            <div class="col-2">
              <button (click)="animateMe()" type="button" style="border-radius: 25px;" class="btn btn-outline-danger">Play</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <div class="row ">
            <div class="col-12">
              <label>Tile Text</label>
              <input type="text" [(ngModel)]="slide.title.text" class="form-control" aria-describedby="" placeholder="Enter Title..">

              <div class="row ">
                <div class="col-4">
                  <div class="form-group">
                    <label>Title Fragment Order</label>
                    <select class="form-control" [(ngModel)]="slide.title.fragment_order">
                      <option selected value='1'>1</option>
                      <option value='2'>2</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Title Transaction Style</label>
                    <select class="form-control" [(ngModel)]="slide.title.transition_type">
                      <option selected value='fadeInDown'>fadeInDown</option>
                      <option value='fadeInRight'>fadeInRight</option>
                      <option value='fadeIn'>fadeIn</option>
                      <option value='fadeInLeft'>fadeInLeft</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <label>Title Transaction Duration</label>
                  <input type="number" value="500" [(ngModel)]="slide.title.fragment_duration" class="form-control" aria-describedby="" placeholder="Enter Title Duration..">
                </div>
              </div>
            </div>
            <div class="col-12">
              <label>Pharagraph Text</label>
              <textarea class="form-control" [(ngModel)]="slide.paragraph.text" id="exampleTextarea" placeholder="course descripton..."
                rows="3"></textarea>
              <div class="row ">
                <div class="col-4">
                  <div class="form-group">
                    <label>Pharagraph Fragment Order</label>
                    <select class="form-control" [(ngModel)]="slide.paragraph.fragment_order">
                      <option value='1'>1</option>
                      <option selected value='2'>2</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Pharagraph Transaction Style</label>
                    <select class="form-control" [(ngModel)]="slide.paragraph.transition_type">
                      <option selected value='fadeInDown'>fadeInDown</option>
                      <option value='fadeInRight'>fadeInRight</option>
                      <option value='fadeIn'>fadeIn</option>
                      <option value='fadeInLeft'>fadeInLeft</option>

                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <label>Pharagraph Transaction Duration</label>
                  <input type="number" [(ngModel)]="slide.paragraph.fragment_duration" class="form-control" aria-describedby="" value="500"
                    placeholder="Enter Pharagraph Duration..">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <img class='card-img-top custom-notask-imgtag mx-auto' style="width: 80%" src='../../assets/image/mobile_preview.png' alt=''>
      <div [style.backgroundColor]="bgcolor" class="card custom_mobile-preview" style="background-size: cover" [style.background-image]="'url('+bgImage+')'">
        <div class="card-block">
          <div [style.animation-delay.ms]="title_delay" [style.animation-duration.ms]="slide.title.fragment_duration" #titleview class="title-text text-center animated">{{slide.title.text}}</div>
          <div [style.animation-delay.ms]="paragraph_delay" [style.animation-duration.ms]="slide.paragraph.fragment_duration" #paragraphview
            class="paragraph-text animated">
            {{slide.paragraph.text}}

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>