
@media screen and (max-width: 400px) {
    .custom_mobile-preview{
        position: absolute;
        top: 11%;
        left: 20.3%;
        width: 59%;
        height: 76%;
        border-radius: 0;
    
    }
   
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .custom_mobile-preview{
        position: absolute;
        top: 11%;
        left: 20.3%;
        width: 59%;
        height: 76%;
        border-radius: 0;
    
    }
   
}

@media screen and (min-width: 721px) and (max-width: 1280px) {

    .custom_mobile-preview{
        position: absolute;
        top: 8%;
        left: 21.3%;
        width: 57%;
        height: 57%;
        border-radius: 0;
    
    }
   
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {

    .custom_mobile-preview{
        position: absolute;
        top: 11%;
        left: 20.3%;
        width: 59%;
        height: 76%;
        border-radius: 0;
    
    }
   
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
   
    .custom_mobile-preview{
        position: absolute;
        top: 11%;
        left: 20.3%;
        width: 59%;
        height: 76%;
        border-radius: 0;
    
    }
}

@media screen and (min-width: 1921px) {

    .custom_mobile-preview{
        position: absolute;
        top: 11%;
        left: 20.3%;
        width: 59%;
        height: 76%;
        border-radius: 0;
    
    }
   
}


@keyframes FadeInUp {
    0% 
    {
        opacity: 0;
        top: -3rem;
    }
    100% 
    {
        opacity: 1 !important;
    }
 }
 @keyframes FadeInLeft {
    0% 
    {
        opacity: 0;
        left: -3rem;
    }
    100% 
    {
        opacity: 1 !important;
    }
 }
  
  @keyframes FadeIn {
    0% 
    {
        opacity: 0;
    }
    45% {
        opacity: 0.4;
      }
    55% {
        opacity: 0.5;
      }
      65% {
        opacity: 0.6;
      }
    75% {
        opacity: 0.7;
      }
      85% {
        opacity: 0.8;
      }
      95% {
        opacity: 0.9;
      }
    
    100% 
    {
        opacity: 1 !important;
    }
 }

 @keyframes FadeInRight {
    0% 
    {
        opacity: 0;
        right: -3rem;
    }
    100% 
    {
        opacity: 1 !important;
    }
 }

 
 @keyframes FadeInDown {
    0% 
    {
        opacity: 0;
        bottom: -3rem;
    }
    100% 
    {
        opacity: 1 !important;
    }
 }
  
  .title-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
 
   .paragraph-ckeditor-text{
    font-size: 14px; 
    max-height: 162px;
    overflow: auto;
  } 

  .paragraph-ckeditor-text::-webkit-scrollbar {
    display: none;
    }
  

  .paragraph-text{
    white-space: pre-line;
    font-size: 14px; 
    bottom: 5rem;
    color: rgb(3, 3, 3);
    position: absolute;
  } 

  .subtitle-text {
    font-size: 20px;
    text-align: center;
  }

  .custom-left-Panel {
    border-right: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff
  }
  .custom-right-Panel {
    border-left: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff
  }

  .fadeinbottom{
    position: absolute;
    left: 1.5rem;
    bottom: 5rem;
    animation-name: FadeInDown;
    animation-fill-mode: both;
    animation-delay: 4s;
    animation-duration: 5s;
  }

  .fadein{
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    animation-name: FadeIn;
    animation-fill-mode: both;
  }

  .paly-img{
    position: absolute;
    margin: 25%;
    top: 24%;
  }