<app-navbar [userName]="complex_object.studentProfile.firstName"></app-navbar>
<div class="jumbotron">
  <div class="row m-0 mb-3">
    <div class="col-10 pl-0">
      <h3>Courses</h3>
    </div>
    <div class="col-2 row m-0 p-0">
      <input type="text" placeholder="Search and Press Enter" name="searchTerm" #box class="search-text-input" (keyup.enter)="searchTask(box.value)">
      <div class="button-holder">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <ngb-accordion [closeOthers]="true" activeIds="" class="custom-courses-list">
    <ngb-panel id="course-{{i}}" *ngFor="let course of courses; index as i">
      <ng-template ngbPanelTitle>
        <div class="row m-0">
          <div class="col-6 my-auto pl-0">
            <i class="fa fa-plus-circle course-list-plus-icon" aria-hidden="true"></i> {{course.name}}
          </div>
          <div class="col-6">
            <div class="btn-group float-right">
              <div class="btn-group" ngbDropdown role="group" placement="bottom-right">
                <button class="btn custom-btn-dropdown" ngbDropdownToggle (click)="ignore($event);$event.preventDefault()"></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item">Assign Task</button>
                  <button class="dropdown-item" (click)="ignore($event);$event.preventDefault();open(content, 'course',course)">Clone Course</button>
                  <button class="dropdown-item" (click)="ignore($event);$event.preventDefault();open(content, 'module',course)">Clone Module</button>
                  <button class="dropdown-item" (click)="ignore($event);$event.preventDefault();open(content,'session',course)">Clone Session</button>
                  <button class="dropdown-item" (click)="ignore($event);$event.preventDefault();open(content, 'lesson',course)">Clone Lesson</button>
                </div>
              </div>
            </div>
            <div class="btn-group btn-group-toggle float-right mr-3" [attr.id]="course.id" ngbRadioGroup name="{{i}}" [(ngModel)]="course.id"
              (click)="ignore($event)">
              <label ngbButtonLabel class="btn-outline-danger btn-sm mb-0">
                <input ngbButton type="radio" class="invisible" [checked]="course.status === 'COMPLETED'" value="COMPLETED" (change)="onSelectionChange(course)">PUBLISH
              </label>
              <label ngbButtonLabel class="btn-outline-danger btn-sm mb-0">
                <input ngbButton type="radio" class="invisible" [checked]="course.status === 'INCOMPLETE'" value="INCOMPLETE">PRODUCTION
              </label>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-partial-course-list-item [data]="course"></app-partial-course-list-item>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ng-template #content let-c="close" let-d="dismiss">
    <app-partial-clone-modal [cValue]="this.c" [dValue]="this.d" [selectedModal]="selectedModal" [selectedCourseModal]="selectedCourseModal"
      [courses]="courses"></app-partial-clone-modal>
  </ng-template>
</div>