<app-navbar [userName]="complex_object.studentProfile.firstName"></app-navbar>
<div class="jumbotron">
  <div class="row m-0 mb-3">
    <div class="col-10 pl-0">
      <h3>Review Task</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <wizard class="session-clone-wizard" [disableNavigationBar]="true" [navBarLocation]="top" [defaultStepIndex]="0">
        <div class="row">
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar " [ngClass]="{'bg-warning': isOn && currentprogress === 0, 'bg-success': isDisabled && currentprogress != 0}"
                role="progressbar" style="width: 33%; height: 5px" aria-valuenow="33" aria-valuemin="0" aria-valuemax="33"></div>
              <div class="progress-bar bg-success " [ngClass]="{'bg-warning': isOn && currentprogress === 1, 'bg-success': isDisabled && currentprogress != 1}"
                [style.width.%]="progressWidth1" role="progressbar" style="height: 5px" aria-valuenow="33" aria-valuemin="0"
                aria-valuemax="66">
              </div>
              <div class="progress-bar " role="progressbar" [ngClass]="{'bg-warning': isOn && currentprogress === 2, 'bg-success': isDisabled && currentprogress != 2}"
                [style.width.%]="progressWidth2" style="height: 5px" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-block">
            <wizard-step (stepEnter)="enterSecondStep($event)">
              <h3 class="col-6 p-0 my-auto">Review and Edit</h3>
              <app-course-builder-content-creator *ngIf="isInclude2ndStep" [newCourse]="newCourse"></app-course-builder-content-creator>
              <button type="button" class="btn btn-danger float-right mt-3" nextStep>Next Step</button>
            </wizard-step>
            <wizard-step (stepEnter)="enterSecondStep($event)">
              <h3 class="col-6 p-0 mb-3">Task Assign</h3>
              <ngb-tabset [justify]="'justified'">
                <ngb-tab title="Course Assign">
                  <ng-template ngbTabContent>
                    <div class="card mt-3 w-50 mx-auto">
                      <div class="card-block">
                        <div class="row m-0">
                          <div class="col-6 pl-0">
                            <ng-select [items]="users" bindLabel="email" bindValue="id" placeholder="Choose Assignee" [(ngModel)]="selectedUser">
                            </ng-select>
                          </div>
                          <div class="col-6 pr-0">
                            <div class="input-group">
                              <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate" [(ngModel)]="model"
                                [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" />
                              <span class="input-group-btn">
                                <div class="row m-0">
                                  <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                    <i class="fas fa-times"></i>
                                  </button>
                                  <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                    <i class="far fa-calendar-alt"></i>
                                  </button>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                        <h4 class="mt-2">
                          <strong>{{newCourse?.name != null ? newCourse?.name : 'Not Set'}}</strong>
                        </h4>
                        <h5 class="mt-3 mb-0">
                          <strong>Description:</strong>
                        </h5>
                        <h5>
                          <small>{{newCourse?.description}}</small>
                        </h5>
                        <div class="form-group mb-0">
                          <textarea class="form-control" [(ngModel)]="courseComment" placeholder="Comments..." rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Lesson Assign">
                  <ng-template ngbTabContent>

                    <div class="row m-0">
                      <div class="col-4" *ngFor="let lesson of lessonList;index as i ; trackBy:trackByIndex">
                        <div class="card mt-3" [style.border-color]="getStatus(lesson)">
                          <div class="card-block">
                            <div class="row m-0">
                              <div class="col-6 pl-0">
                                <ng-select [items]="users" bindLabel="email" bindValue="id" placeholder="Choose Assignee" [(ngModel)]="lessonList[i].assignee"
                                  (change)="onChangeAssignee(lesson)">
                                </ng-select>
                              </div>
                              <div class="col-6 pr-0">
                                <div class="input-group">
                                  <input class="form-control" style="float:none" placeholder="Select a date" name="lessonList[i].id" ngx-mydatepicker [ngModel]="lessonList[i].dueDate"
                                    (ngModelChange)="lessonList[i].dueDate=($event.formatted)" [options]="myOptions" #dp="ngx-mydatepicker"
                                    [value]="lessonList[i].dueDate" />
                                  <span class="input-group-btn">
                                    <div class="row m-0">
                                      <button type="button" class="btn btn-default px-2" (click)="dp.clearDate()">
                                        <i class="fas fa-times"></i>
                                      </button>
                                      <button type="button" class="btn btn-default px-2" (click)="dp.toggleCalendar()">
                                        <i class="far fa-calendar-alt"></i>
                                      </button>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <h5 class="mt-2">
                              <strong>{{lesson?.name != null ? lesson?.name : 'Not Set'}}</strong>
                            </h5>
                            <h6 class="mt-3 mb-0">
                              <strong>Description:</strong>
                            </h6>
                            <h6>
                              <small>{{lesson?.description != null ? lesson?.description : 'Not Set'}}</small>
                            </h6>
                            <div class="form-group mb-0">
                              <!-- <app-comment-box [lesson]="lesson"></app-comment-box> -->
                              <textarea class="form-control" [(ngModel)]="lessonList[i].description" placeholder="Comments..." rows="2"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <button type="button" class="btn btn-danger mt-3" previousStep>Go to previous step</button>
              <button type="button" class="btn btn-danger float-right mt-3" nextStep>Go to next step</button>
            </wizard-step>
            <wizard-step (stepEnter)="enterSecondStep($event)">
              <h3 class="col-6 p-0 my-auto">Preview</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Due Date</th>
                    <th>User Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lesson of lessonList;index as i ; trackBy:trackByIndex">
                    <th scope="row">{{i+1}}</th>
                    <td>{{lesson.name}}</td>
                    <td class="w-50">{{lesson.description}}</td>
                    <td [style.color]="getColor(lesson.dueDate) ">
                      <strong>{{lesson.dueDate}}</strong>
                    </td>
                    <td>{{getUsername(lesson.assignee)}}</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-danger mt-3" previousStep>Previous Step</button>
              <button type="button" class="btn btn-danger float-right mt-3" (click)="completeReview()">Finish</button>
            </wizard-step>
          </div>
        </div>
      </wizard>
    </div>
  </div>
</div>