<div class="modal-header">
  <h4 class="modal-title">Clone {{selectedModal}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dValue('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="selectedModal === 'course'">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Course Name</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="createCourseClone" name="course_name" placeholder="Enter the course name to be clone"
          id="clone_course_name">
      </div>
    </div>
  </div>
  <div *ngIf="selectedModal == 'module'">
    <app-module-wizard [courses]="courses" (coursesChange)="updateCourseStructure($event)" [loading]="loading" (loadingChange)="updateLoader($event)"
      [selectedCourseModal]="selectedCourseModal"></app-module-wizard>
  </div>
  <div *ngIf="selectedModal == 'session'">
    <app-session-wizard [courses]="courses" (coursesChange)="updateCourseStructure($event)" [loading]="loading" (loadingChange)="updateLoader($event)"
      [selectedCourseModal]="selectedCourseModal"></app-session-wizard>
  </div>
  <div *ngIf="selectedModal == 'lesson'">
    <app-lesson-wizard [courses]="courses" (coursesChange)="updateCourseStructure($event)" [loading]="loading" (loadingChange)="updateLoader($event)"
      [selectedCourseModal]="selectedCourseModal"></app-lesson-wizard>
  </div>
</div>
<div class="modal-footer" *ngIf="selectedModal == 'course'">
  <button type="button" class="btn btn-danger" (click)="cValue('Close click')">Cancel</button>
  <button type="button" class="btn btn-danger" id="save_session_edit" [disabled]="!isValidForm() || !disableOnFinish" (click)="cloneData()">Finish</button>
</div>