<app-navbar [userProfile]="complex_object.studentProfile"></app-navbar>

<div class="jumbotron">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


  <div class="row mb-2">
    <div class="col-6">
      <h4 *ngIf="lesson?.type != 'ASSESSMENT'"> Lesson Builder </h4>
      <h4 *ngIf="lesson?.type === 'ASSESSMENT'"> Assessment Builder </h4>
      <!-- Sort By:
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="dragOperation">
        <label ngbButtonLabel class="btn btn-danger">
          <input ngbButton type="radio" value="stage"> Stages
        </label>
        <label ngbButtonLabel class="btn btn-danger">
          <input ngbButton type="radio" value="slide"> Slides
        </label>

      </div> -->
    </div>

    <div class="col-6">
      <a (click)="saveEndExitClicked()" class="custom-btn-color btn btn-danger float-right mr-2">Save</a>
    </div>
  </div>
  <div [hidden]="mobilePreviewIsVisible" #mobilePreview class="col-4 float-right lesson-mobile-preview animated">
    <div (click)="mobilePreviewFunction('hide')">
      <i class="fas fa-times"></i>
    </div>
    <img class='card-img-top custom-notask-imgtag mx-auto' style="width: 80%" src='../../assets/image/mobile_preview.png' alt=''>
    <div *ngIf="lesson?.type != 'ASSESSMENT'" [style.backgroundColor]="bgcolor" class="card custom_mobile-preview" style="background-size: cover"
      [style.background-image]="'url('+bgImage+')'">
      <div class="card-block p-0">
        <div class="text-center">
          <img #imageview class='card-img custom-notask-imgtag animated' style="background-size: cover;width: 100%" [src]="fgImage"
            alt='' [style.animation-delay.ms]="image_delay" [style.animation-duration.ms]="image_fragment_duration">
        </div>
        <img [hidden]="onPlayDisable" (click)="playPreview()" class='card-img custom-notask-imgtag  paly-img' style="width: 30%"
          src='../../assets/image/play.png' alt=''>
        <div [style.animation-delay.ms]="title_delay" [style.animation-duration.ms]="title_fragment_duration" #titleview class="title-text text-center animated">{{title_text}}</div>
        <div [innerHTML]="paragraph_text" [style.animation-delay.ms]="paragraph_delay" [style.animation-duration.ms]="paragraph_fragment_duration"
          #paragraphview class="paragraph-text animated">
        </div>
      </div>
    </div>

    <div *ngIf="lesson?.type === 'ASSESSMENT'" [style.backgroundColor]="bgcolor" class="card custom_mobile-preview" style="background-size: cover"
      [style.background-image]="'url('+bgImage+')'">

      <!--  <img [hidden]="onPlayDisable" (click)="playAssessmentPreview('next')" class='card-img custom-notask-imgtag  paly-img' style="width: 30%;z-index: 99999;"
        src='../../assets/image/play.png' alt=''> -->

      <div class="row ">
        <div class="col-12  ">
          <i [hidden]="slidePreviewPosition == (lesson.stages.length - 1)" style="position: absolute;top: 282px;right: 14px;font-size: 25px;z-index: 999999;"
            class="fas fa-arrow-circle-right float-right mr-1" (click)="nextAssessmentPreview()"></i>
          <i [hidden]="slidePreviewPosition == 0" style="position: absolute;top: 282px;left: 14px;font-size: 25px;z-index: 999999;"
            class="fas fa-arrow-circle-left float-right" (click)="previewAssessmentPreview()"></i>

        </div>

      </div>

      <div class="card-block p-2">
        <div class="row m-0">
          <div class="mx-auto title3-text text-center animated">{{question?.comprehensive_passage.replace('null','')}}</div>
          <div class="mx-auto title2-text text-center animated">{{question?.text}}</div>
        </div>


        <div class="card w-100 mt-2" [ngClass]="{'correct-option': question?.options[0].marking_schema === true}">
          <div class="card-body text-center">
            {{question?.options[0].text}}
          </div>
        </div>

        <div class="card w-100 mt-2" [ngClass]="{'correct-option': question?.options[1].marking_schema === true}">
          <div class="card-body text-center">
            {{question?.options[1].text}}
          </div>
        </div>


        <div class="card w-100 mt-2" [ngClass]="{'correct-option': question?.options[2].marking_schema === true}">
          <div class="card-body text-center">
            {{question?.options[2].text}}
          </div>
        </div>


        <div class="card w-100 mt-2" [ngClass]="{'correct-option': question?.options[3].marking_schema === true}">
          <div class="card-body text-center">
            {{question?.options[3].text}}
          </div>
        </div>

      </div>


    </div>


  </div>











  <div class="row course">
    <div class="card course_card">
      <div class="card-header">
        <span>
          {{lesson?.name}} </span>
        <i ngbPopover="{{lesson?.description}}" triggers="mouseenter:mouseleave" class="fa fa-info-circle" aria-hidden="true"></i>



        <button *ngIf="lesson?.type != 'ASSESSMENT'" (click)="addStageComponent(lesson)" type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2">
          <i class="fas fa-plus-circle"></i> Add Stage</button>
        <button *ngIf="lesson?.type === 'ASSESSMENT'" (click)="addStageForQuestionComponent(lesson)" type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2">
          <i class="fas fa-plus-circle"></i> Add Question</button>
        <button type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <i class="fas fa-comments"></i> Comments</button>
        <button type="button" class="btn btn-outline-danger course_header_buttons float-right mr-2" (click)="mobilePreviewFunction('show')">
          <i class="far fa-play-circle"></i> Preview </button>

        <div *ngIf="lesson?.type === 'ASSESSMENT'" class="btn-group btn-group-toggle  mr-3 float-right" ngbRadioGroup [(ngModel)]="lesson.isRetryable">
          <label ngbButtonLabel class="btn-outline-danger btn-sm mb-0">
            <input ngbButton type="radio" class="invisible" [value]="true">Retriable
          </label>
          <label ngbButtonLabel class="btn-outline-danger btn-sm mb-0">
            <input ngbButton type="radio" class="invisible" [value]="false">Non-Retriable
          </label>
        </div>
        <div *ngIf="lesson != null" class=" col-3 float-right">
          <label class=" col-5">Lesson Duration</label>
          <input type="number" [(ngModel)]="lesson.duration" class=" col-6" aria-describedby="" placeholder="Duration in min..">
        </div>

        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card custom-chat">
            <div class="card-body m-2">
              <div class="social-comments_list custom-scroll-holder" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <h6>Issuse List </h6>
                <div class="social-comment  p-1 mb-1" *ngFor="let issue of issuesList; index as i">
                  <a href="" class="pull-left">
                    <img style=" width: 25px;height: 25px;" alt="image" src="{{issue.imageURL}}">
                  </a>
                  <div class="media-body">
                    <b>
                      {{issue.name}} :
                    </b>
                    <p class='m-0'> {{issue.comment}} </p>

                    <p class="text-right m-0">
                      <small class="text-muted">{{issue.date | date: 'dd/MM/yyyy hh:mm'}}</small>
                    </p>
                  </div>
                </div>
                <div *ngIf="issuesList == null || issuesList.length == 0">
                  <div class="social-comment  p-1 mb-1">
                    No Issue Present.
                  </div>
                </div>
              </div>
              <div class="media-body custom-media-body">
                <textarea [(ngModel)]="commentValue" (keydown)="keyDownFunction($event)" class="form-control" placeholder="Write comment..."></textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="lesson?.stages != undefined && lesson?.stages.length > 0; else stageElseBlock" class="row modules m-0 row-eq-height"
          dnd-sortable-container [sortableData]="lesson?.stages" [dropZones]="['container-dropZone']">
          <div *ngFor="let stage of lesson?.stages; index as j " dnd-sortable [sortableIndex]="j" [dragEnabled]="dragOperation == 'stage'"
            class="col-2 p-0 ml-1 mr-1 ">
            <div dnd-sortable-container [sortableData]="lesson?.stages[j].slides" [dropZones]="['widget-dropZone']">
              <div *ngIf="lesson?.type != 'ASSESSMENT'" class="card module_card row-eq-height mb-1">

                <div class="card-header  p-0 pt-3 pb-3">
                  <div class="row m-0 row-eq-height">
                    <div class="col-10 text-left custom-course-header module-font-fize">
                      {{stage.name}}</div>
                    <div class="col-2 text-right">
                      <i (click)="removeStageFunction(stage)" class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="card-block custom-course-cardblock mx-auto p-0 pt-1">
                  <button [disabled]="lesson?.type === 'PRESENTATION'  && stage.slides?.length !=0 " (click)="addSlideComponent(j)" type="button"
                    class="btn btn-outline-danger course_body_buttons float-right mr-2">
                    <i class="fas fa-plus-circle"></i> Add Slide</button>
                </div>
                <div *ngIf=" stage.slides != undefined && stage.slides.length > 0; else slideElseBlock">
                  <div class="card mt-2" *ngFor="let slide of stage.slides; index as k;" dnd-sortable [sortableIndex]="k" [dragEnabled]="dragOperation == 'slide'"
                    [dragData]="lesson?.stages[j].slides[k]">
                    <div class="card-header p-1">

                      <div class="row m-0 row-eq-height">

                        <div class="col-2 pl-1">
                          <a href="/slide_editor/{{j}}/{{k}}">
                            <i class="fas fa-edit"></i>
                          </a>

                        </div>
                        <div class="col-8 text-center">
                          <span style="font-size: 10px;"> {{slide.type}}</span>
                        </div>
                        <div class="col-2 text-right">
                          <i (click)="removeSlideFunction(stage,slide)" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-block p-0">
                      <div class="row m-0 row-eq-height">
                        <div class="col-12 text-center">
                          <img class='card-img-top custom-notask-imgtag mx-auto' style="width: 90%;" src='/assets/image/{{slide.type | lowercase}}.png'
                            alt=''>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #slideElseBlock>
                  <p class="text-center">No Slides Present</p>
                </ng-template>
              </div>
              <div *ngIf="lesson?.type == 'ASSESSMENT'" class="card module_card row-eq-height mb-1">

                <div class="card-header  p-0 pt-3 pb-3">
                  <div class="row m-0 row-eq-height">
                    <div class="col-2 pl-1">
                      <a href="/assessment_editor/{{j}}">
                        <i class="fas fa-edit"></i>
                      </a>

                    </div>
                    <div class="col-8 text-left custom-course-header module-font-fize">
                      Question {{j}} </div>
                    <div class="col-2 text-right">
                      <i (click)="removeStageFunction(stage)" class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="card-block custom-course-cardblock p-0 pt-1">
                  <div class="row m-0 p-0 mt-2">
                    <p class="col-9 pl-1" style="font-size: 10px">
                      <i class="fas fa-tag " style="color: #eb384f;"></i> {{stage.type}}</p>
                    <p class="col-3 px-0 pr-1  text-right" style="font-size: 12px">
                      <i class="far fa-clock" style="color: #eb384f;"></i> {{stage.duration}} ms </p>
                  </div>
                  <div class="row m-3 p-0" style="min-height: 160px;max-height: 160px;">
                    <b class="w-100">Question:</b>

                    <p>{{stage.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #stageElseBlock>
            <p class="text-center">No Stages Present</p>
          </ng-template>
        </div>

      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title m-auto">{{modalName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf=" type == 'PRESENTATION';">
          <label for="typeahead-format ">Slide Type:</label>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectSlideType">
            <option value="ONLY_TITLE_PARAGRAPH_NEW">ONLY_TITLE_PARAGRAPH_NEW</option>
          </select>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="c( 'Close click') ">Close</button>
        <button type="button " data-dismiss="modal " class="btn btn-outline-dark " (click)="save(content)">Save</button>
      </div>
    </ng-template>
  </div>