body,input,button,select{
font-family: avenir-light !important;
}
.popover-body{
    padding: 5px;
    font-family: avenir-light;
}
.popover-header{
    padding: 5px;
    font-family: avenir-light;
    background-color: #f7f7f7;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);   
    font-size: 1rem;
    margin-bottom: 0px;
}

.dashboard-carousel .slick-next {
    right: 0px !important;
}

.dashboard-carousel .slick-track{
    transform: translate3d(-1087px, 0px, 0px) !important;
}

.custom-accordion>.card>.card-header>a{
    text-decoration: none !important;
    color: #292b2c;
}

.custom-accordion>.card>.card-header{
    background-color:#ffffff !important;
}

.course-modal>.dz-preview>.dz-image>img{
display: block !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;

}

.course-modal>.dz-preview>.dz-image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
}

.course-modal>.dz-preview {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
}
.course-modal{
    padding: 0px !important;
    height: 25vh !important;
    width: 41% !important;
}
.custom-courses-list > .card > .card-header{
    background-color: #ffffff !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.custom-courses-list > .card > .card-header > a,.custom-courses-list > .card > .card-header > a:focus,.custom-courses-list > .card > .card-header > a:hover{
    color: #98999b;
    text-decoration: none;
}

.custom-courses-list > .card > .card-body {
    padding: 20px;
}
.session-desc-acc > .card {
    border: none;
}
.session-desc-acc > .card > .card-header{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
}
.session-clone-wizard > .wizard-steps{
    width: 100% !important;
        display: block !important;
}
.ngx-contextmenu>ul> li {
 padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.swiper-button-prev{
    background-image: url("../../assets/image/prev.png") !important;
    width: 40px !important;
    background-size: 40px 40px !important;
    left: 0px !important;
}

.swiper-button-next{
    background-image: url("../../assets/image/prev.png") !important;
    transform: rotate(180deg);
    width: 40px !important;
    background-size: 40px 40px !important;
    right: 0px !important;
}

*:focus {
    outline:none !important
}

.custom-accordion > .card{

    border:0px !important; 
}
.interactive-panel > .card{

    margin-bottom: 11px;

}