<wizard class="session-clone-wizard" [disableNavigationBar]=true [navBarLocation]="top" [defaultStepIndex]="0">
  <div class="row">
    <div class="col-12">
      <div class="progress">
        <div class="progress-bar " [ngClass]="{'bg-warning': isOn && currentprogress === 0, 'bg-success': isDisabled && currentprogress != 0}"
          role="progressbar" style="width: 33%; height: 5px" aria-valuenow="33" aria-valuemin="0" aria-valuemax="33"></div>
        <div class="progress-bar bg-success " [ngClass]="{'bg-warning': isOn && currentprogress === 1, 'bg-success': isDisabled && currentprogress != 1}"
          [style.width.%]="progressWidth1" role="progressbar" style="height: 5px" aria-valuenow="33" aria-valuemin="0" aria-valuemax="66">
        </div>
        <div class="progress-bar " role="progressbar" [ngClass]="{'bg-warning': isOn && currentprogress === 2, 'bg-success': isDisabled && currentprogress != 2}"
          [style.width.%]="progressWidth2" style="height: 5px" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-block">
      <wizard-step (stepEnter)="enterSecondStep($event)">
        <h3 class="col-6 p-0 my-auto">Session Details</h3>
        <div class="form-group row">
          <label for="clone_lesson_selected" class="col-4 col-form-label">Select Source Session</label>
          <div class="col-8">
            <ng-template #sessionTemplate let-r="result" let-t="term">
              {{r.id+' - '+r.name}}
            </ng-template>
            <input id="typeahead-focus-session" type="text" class="form-control" [(ngModel)]="sessionSelectModel" [ngbTypeahead]="sessionSearch"
              (focus)="sessionSelectclick$.next($event.target.value)" (click)="sessionSelectclick$.next($event.target.value)"
              #sessionSelectionInstance="ngbTypeahead" [class.is-invalid]="sessionFailed" placeholder="Select session" [inputFormatter]="sessionFormatter"
              [resultTemplate]="sessionTemplate" />
            <div class="invalid-feedback text-danger" *ngIf="sessionFailed">No Session Found for requested string.</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="session_name" class="col-4 col-form-label">Session Name
          </label>
          <div class="col-8">
            <input class="form-control" type="text" value="" [(ngModel)]="newSessionNameModel" placeholder="Enter the session name to be clone"
              id="session_name">
          </div>
        </div>
        <button type="button" class="btn btn-danger float-right" [disabled]="!isValidForm()" nextStep>Next Step</button>
      </wizard-step>
      <wizard-step (stepEnter)="enterSecondStep($event)">
        <h3 class="col-6 p-0 my-auto">Session Selection</h3>
        <div class="text-center">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="moduleSelection" [(ngModel)]="selectedExistingOrNewModel" (ngModelChange)="onFilterChange($event)">
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" value="EXISTING"> Existing
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" value="NEW"> New
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Select Destination Course</label>
          <div class="col-8">
            <ng-template #courseTemplate let-r="result" let-t="term">
              {{r.id+' - '+r.name}}
            </ng-template>
            <input id="typeahead-focus-clone-course" type="text" class="form-control" [(ngModel)]="courseSelectModel" [ngbTypeahead]="courseSearch"
              (focus)="courseSelectfocus$.next($event.target.value)" (click)="courseSelectclick$.next($event.target.value)"
              #sessionCourseSelectioninstance="ngbTypeahead" [inputFormatter]="courseFormatter" [resultTemplate]="courseTemplate"
              (ngModelChange)="onCourseChange($event)" placeholder="Select course" [class.is-invalid]="courseFailed" />
            <div class="invalid-feedback text-danger" *ngIf="courseFailed">No Course Found for requested string.</div>
          </div>
        </div>
        <div class="form-group row" *ngIf="showExisting">
          <label for="module" class="col-4 col-form-label">Select Destination Module</label>
          <div class="col-8">
            <ng-template #moduleTemplate let-r="result" let-t="term">
              {{r.id+' - '+r.name}}
            </ng-template>
            <input id="typeahead-focus-module" type="text" class="form-control" [(ngModel)]="moduleSelectModel" [class.is-invalid]="moduleFailed"
              [ngbTypeahead]="moduleSearch" (focus)="moduleSelectfocus$.next($event.target.value)" (click)="moduleSelectclick$.next($event.target.value)"
              #sessionModuleSelectionInstance="ngbTypeahead" [inputFormatter]="moduleFormatter" [resultTemplate]="moduleTemplate"
              placeholder="Select module" />
            <div class="invalid-feedback text-danger" *ngIf="moduleFailed">No Modules Found for requested string.</div>
          </div>
        </div>
        <div class="form-group row" *ngIf="!showExisting">
          <label for="new_module_name" class="col-4 col-form-label">Module Name
          </label>
          <div class="col-8">
            <input class="form-control" type="text" value="" [(ngModel)]="sessionsNewModuleModel" placeholder="Enter the module name to be clone"
              id="new_module_name">
          </div>
        </div>
        <button type="button" class="btn btn-danger" previousStep>Previous</button>
        <button type="button" class="btn btn-danger float-right" nextStep [disabled]="!isValid2()">Next Step</button>
      </wizard-step>
      <wizard-step (stepEnter)="enterSecondStep($event)">
        <h4 class="p-0">Review Session Clone</h4>
        <h6 class=" text-primary">Selected Session - {{sessionSelectModel != null ? sessionSelectModel.name : 'No Session selected' }}</h6>
        <nav class="breadcrumb">
          <h6 class="breadcrumb-item active">{{courseSelectModel != null ? courseSelectModel.name : 'No course selected' }}</h6>
          <h6 class="breadcrumb-item active">{{ moduleSelectModel != null ? moduleSelectModel.name : (sessionsNewModuleModel !=null && sessionsNewModuleModel
            != '' ?sessionsNewModuleModel : 'No Module selected') }}</h6>
          <h6 class="breadcrumb-item text-primary">{{newSessionNameModel != null && newSessionNameModel.trim() != '' ? newSessionNameModel : 'New Session Name not
            defined' }}
          </h6>
        </nav>
        <button type="button" class="btn btn-danger" previousStep>Previous</button>
        <button type="button" class="btn btn-danger float-right" [disabled]="!disableOnFinish" (click)="submitSessionClone()">Finish</button>
      </wizard-step>
    </div>
  </div>
</wizard>