.card-img-top{
     max-height: 150px;
     min-height: 150px;
}
 .custom-btn-danger{
     position: absolute;
     bottom: -4%;
     border-radius: 25px 25px;
     left: 10%;
     right: 10%;
     width: 65%;
}
 .selecttask{
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
 .minwidth26{
     min-width: 28%;
}
 .custom-card{
     margin: 25px;
     min-height: 483px;
     max-height: 483px;
     box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.24);
}

.m-r-4{
    margin-right: 2.5%;
}
.presentation_icon{
    background-image: url("../../assets/image/presentation_icon.png");
    width: 23px;
    height: 23px;
    display: block;
}

.custom-button-presentation{
    font-size: 18px;
    font-family: avenir-light !important;
}

.h-100{
    height: 100% !important;
}

.custom-cards_css {
	width: 100%;
	height: 530.4px;
	border-radius: 1.3px;
	background-color: #ffffff;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0
		rgba(0, 0, 0, 0.12);
}
.swiper-button-prev{
    background-image: url("../../assets/image/prev.png");
}

.swiper-button-next{
    background-image: url("../../assets/image/prev.png");
}

.corner-ribbon{
    width: 130px;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    color: #f0f0f0;
    top: 84%;
    border-top-right-radius: 65px;
    font-size: 12px;
    line-height: 2;
  }

.presentation{
    background-color: #7ed321;
}

.interactive {
    background-color:#35bdf0;
}

.assessment {
    background-color: #df756a;
}