/* .custom-right-prev {
	width: 18px;
	height: 70vh;
}

.custom-left-prev {
	width: 4px;
	height: 70vh;
}

.container{
	width:100%;
}

.card-img-top{
	height: 235px;
	width: 100%;
}

.bottom_card_button{
	    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: -4%;
	border-radius: 25px 25px;
	background-color: #eb384f !important; 
}
.btn-danger:hover{
		background-color: #ffffff !important;
		color:   #eb384f !important; 
		border-color:  #eb384f !important; 
} */

