.card-img-top{
     max-height: 150px;
     min-height: 150px;
}
 .btn-danger{
     position: absolute;
     bottom: -4%;
     border-radius: 25px 25px;
     left: 10%;
     right: 10%;
     width: 80%;
}
 .selecttask{
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
 .minwidth26{
     min-width: 28%;
}
 .card{
     margin-bottom: 40px;
     min-height: 483px;
     max-height: 483px;
     box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.24);
}

.m-r-4{
    margin-right: 2.5%;
}
.presentation_icon{
    background-image: url("../../assets/image/presentation_icon.png");
    width: 23px;
    height: 23px;
    display: block;
}

.custom-button-presentation{
    font-size: 18px;
    font-family: avenir-light !important;
}