.graph-card{
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 310px;
}
.card-header-box{
    height: 19px;
    font-family: avenir-light;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #555555;
}